/* .show-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.show-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #603c1c; 

.show-details {
  margin-bottom: 10px;
}

.show-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.show-value {
  margin-bottom: 15px;
}

.show-actions {
  margin-top: 20px;
}

.show-actions button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #603c1c; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-actions button:hover {
  background-color: #451e0e; 
}

.show-actions button:focus {
  outline: none;
}

.show-actions button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */

.show-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("./rodrigo-flores-sn87TQ_o7zs-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.show-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #603c1c;
}

.show-details {
  margin-bottom: 10px;
}

.show-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.show-value {
  margin-bottom: 15px;
}

.show-actions {
  margin-top: 20px;
}

.show-actions button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #603c1c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-actions button:hover {
  background-color: #451e0e;
}

.show-actions button:focus {
  outline: none;
}

.show-actions button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
