/* Home.css */

.home-container {
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.transactions-table-container,
.charts-container {
  flex: 1;
  margin: 10px;
}

.transactions-table-container {
  margin-right: 20px;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-table th,
.transactions-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transactions-table th {
  background-color: #f2f2f2;
  text-align: left;
}
