/* NavBar.css */

/* @import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"); */
/* 
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.sticky-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  margin-bottom: 28px;
}

.logo {

  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  margin: 0;
  text-decoration: none;
  color: whitesmoke;
}

.budget-tracker {
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  font-variant: small-caps;
  margin-top: 5px;
  color: whitesmoke;
}

.nav-link {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.nav-link:hover {
  color: #bf8040;
} */

/* NavBar.css */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.sticky-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  margin-bottom: 28px;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  margin: 0;
  text-decoration: none;
  color: whitesmoke;
}

.budget-tracker {
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  font-variant: small-caps;
  margin-top: 5px;
  color: whitesmoke;
}

.nav-link {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.nav-link:hover {
  color: #bf8040;
}
