.navbar {
  background-color: #4a2c19;
  padding: 10px;
  color: #f7f3f0;
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  font-size: 1.8rem;
  margin: 0;
  color: #f7f3f0;
  flex: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-link {
  color: #f7f3f0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #bf8040;
}
