.transaction-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 80%;
  height: 400px;
  margin-bottom: 20px;
}

.table-container {
  width: 80%;
}

.no-data {
  color: red;
}

.amount {
  font-weight: bold;
}

.amount.income {
  color: green;
}

.amount.expense {
  color: red;
}

.amount.net-income.positive {
  color: green;
}

.amount.net-income.negative {
  color: red;
}
