/* .transaction-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 80%;
  height: 400px;
}

.no-data {
  color: #999;
  font-size: 18px;
  margin: 20px;
}

.table-container {
  margin-top: 20px;
  width: 80%;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
  text-align: center; 
/* }

.data-table .amount {
  text-align: right; 
}

.data-table .income {
  color: green;
}

.data-table .expense {
  color: red;
}

.data-table .net-income {
  font-weight: bold;
}

.data-table .net-income.positive {
  color: green;
}

.data-table .net-income.negative {
  color: red;
}

.amount {
  text-align: right;
}  */

/* TransactionChart.css */
.transaction-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 80%;
  height: 400px;
  margin-bottom: 20px;
}

.table-container {
  width: 80%;
}

.no-data {
  color: red;
}

.amount {
  font-weight: bold;
}

.amount.income {
  color: green;
}

.amount.expense {
  color: red;
}

.amount.net-income.positive {
  color: green;
}

.amount.net-income.negative {
  color: red;
}
