.transactions-table {
  font-family: Arial, sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: black;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.amount {
  text-align: right;
}

.cell-text {
  font-family: Arial, sans-serif;
}

.date-column {
  width: 80px;
  text-align: center;
}

.description-column {
  width: 350px;
}

.amount-column {
  width: 80px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}
