.login-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-paper {
  background-image: url("./14978-NPXMD3.jpg");
  backdrop-filter: blur(28px);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin-top: -150px;
}

.coffeebeanies-text {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  margin: 0;
  text-decoration: none;
  color: #6f4e37;
}
