.sticky-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  margin-bottom: 28px;
}

.coffeebeanies-text {
  font-family: "Dancing Script", cursive; /* Use Dancing Script font */
  font-size: 2rem;
  margin: 0;
  text-decoration: none;
  color: #6f4e37; /* Adjust color as needed */
}
